.botao{
    /* padding: 5px 100px; */
    width: 350px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: #cc3f55;
    color: white;
    
    /* Negrito */
    font-weight: bolder;
    font-family: 'Poppins';
}