
.cadastro_titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 4px;
    

}

.cadastro_titulo h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.cadastro_titulo hr {
    width: 180px;
    border: 1px solid #B51D44;
    margin-bottom: 90px;
}


.form_cadastro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column; */
}

.form_cadastro h1 {
    text-transform: uppercase;
    font-size: 16px;
}

.campo_cad_nome input{
    margin-bottom: 70px;
    width: 356px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.campo_cad_genero select{
    margin-bottom: 70px;
    width: 356px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.img_cadastro {
    height: 238px;
    width: 436px;
}

.section_cadastro {
    height: 400px;
}

@media screen and (max-width: 880px) {
    .campos_cadastro{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 340px) {
    .form_cadastro h1{
        font-size: 20px;
    }
}