header{
    background-color: white;

    height: 75px;
    width: 100%;

    /* Borda: */
    box-shadow: 2px 4px 4px 0px #0000002f;
    position: relative;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    
}

.cabecalho img{
    margin-top: 5px;
    height: 30px;
    margin-left: 65px;
    margin-top: 20px;
}

.link_header{
    margin-left: 60px;
    

    color: #201849;
    text-decoration: none;
}

/* @media screen and (max-width: 768px){
    .cabecalho img{
        height: 35px;
    }

    .link_header{
        margin-left: 10px;
    } */
/* } */
.nav_header{
    display: flex;
    justify-content: center;
    margin-top: 20px;
   
    
}

.adm a{
    margin-right: 9px;
    text-decoration: none;
    color: #201849;

}

.adm{
    margin-bottom: 10px;
}

.adm img{
    width: 20px;
    height: 20px;
    margin-left: 13px;
    
}

